.live-match-container {
  display: flex;
  justify-content: center;
    font-family: Arial, sans-serif;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
  }
  
  .live-match-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .live-button {
    margin-bottom: 1rem;
  }

  
  .match-header {
    text-align: center;
    padding: 1rem;
  }
  
  .tournament-name-live-match {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .match-location-live-match {
    color: #666;
  }
  
  .match-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .team-info {
    text-align: center;
  }
  
  .team-logo {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
  
  .team-name {
    font-weight: bold;
    margin-top: 0.5rem;
    /* padding: 30px; */
    text-align: center;
    /* padding-top: 25%; */
    /* background-color: #edf5ff; */
    border-radius: 20px;
    padding: 10px;
  }
  
  .match-score {
    font-size: 6rem;
    font-weight: bold;
    display: flex;
    gap: 0.5rem;
  }
  
  .match-type {
    border-radius: 10px;
    background-color: #f7f5ff;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  
  .scorers {
    margin-top: 1rem;
  }
  
  .scorer {
    display: flex;
    justify-content: space-between;
  }


  /** SINGLE FOOTBALL MATCHES */

  .live-match-title-single-match{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;

  }

    


  @media (max-width: 768px) {
    .match-card-individual{
      width: 100%;
    }
  }



  @media screen and (max-width: 768px) {
    .live-match-container {
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .match-card-individual {
      background-color: white;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 100%;
    }

    .match-header{
      margin-top: 30px;
    }

    .tournament-name-live-match{
      margin-top: 1px;
    }

    .match-content {
      display: block;
      justify-content: space-between;
      align-items: center;
      padding: .1rem;
    }

    .team-name{
      font-size: 28px;
      padding: 10px;
    
    }

    .match-score{
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 80px;
    }
    
  }


  @media screen and (min-width: 768px) {
    .match-card-individual {
      background-color: white;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 1100px;
    }
    
  }



  .team-card-live-match {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .team-name {
    cursor: pointer;
    color: black;
    font-size: 25px;
    text-align: center;
    /* background-color:#d1e0ff; */
    background-color: white;
    border:1px solid #002d87;;
    padding: 5px 10px;
    /* margin-bottom: 20px; */
  }
  
  .players-list {
    list-style-type: none;
    padding: 0;
  }
  
  .player-card {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .player-name {
    color: grey;
    font-size: 20px;
  }
  
  .player-age {
    color: grey;
    font-size: 14px;
  }
  

  .team-name-lineup{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }