.p-checkbox-create-match{
    margin: 20px;
    width: 25px; 
    height: 25px; 
    margin-top: 10px;
  }
  
  /* .input-box-pr-selection-box{
    max-width: 100%;
    width: 33%;
    height: 50px;
    padding: 0 5px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  } */


  .bracket-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
  }
  
  .round-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .seeds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .seed-container {
    position: relative;
    margin: 20px 0;
  }
  
  .connector {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .line {
    width: 2px;
    height: 20px;
    background-color: #000;
    margin: 2px 0;
  }
  
  .connector::before,
  .connector::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000;
    top: 50%;
  }
  
  .connector::before {
    left: -20px;
  }
  
  .connector::after {
    right: -20px;
  }
  





/* MATCHES CSS */

.matches-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.match-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* width: 300px; */
  text-align: center;
}

.match-header {
  background-color: #f0f0f0;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.match-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team {
  flex: 1;
  text-align: center;
}

.match-info {
  flex: 2;
  text-align: center;
}


